#usuarioI {
    margin-top: 5%;
    margin-bottom: 0.2em;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#usuarioT {
    text-align: center;
}

#credenciales {
    border: 0.5em solid #373C42;
    margin-bottom: 2%;
}

#camera {
    width: 2em;
    height: 2em;
    display: block;
    margin-top: 0.2em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.2em;
    font-size: calc(1em + 1vw);
    background-color: #ffffff;

    overflow: hidden;
}

#historial {
    width: 2em;
    height: 2em;
    display: block;
    margin-top: 0.2em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.2em;
    font-size: calc(1em + 1vw);
    background-color: #ffffff;

    overflow: hidden;
}

#logout {
    position: absolute;
    width: auto;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    padding: 0.25em;
    font-size: calc(1em + 0.5vw);
    color: #ffffff;
    background-color: #373C42;
    border: 0;
    border-radius: 0.2em;
}