body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 630px;
  padding: 15px;
  margin: auto;
  background-color: #c2c2c2;
  border-radius: 5%;
}

.form-signin .checkbox {
  margin-top: 10px;
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}


.form-signin input[type="password"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#id_username {
  border-radius: 5px;
}

label[for="id_username"] {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
  margin-bottom: -2px;
}

#id_password {
  border-radius: 5px;
}

#id_password1 {
  border-radius: 5px;
}

#id_password2 {
  border-radius: 5px;
}

label[for="id_password"] {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
  margin-bottom: -2px;
}

label[for="id_password1"] {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
  margin-bottom: -2px;
}

label[for="id_password2"] {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
  margin-bottom: -2px;
}

#logo {
  margin-top: 10px;
}

.helptext {
  display: none;
}

ul {
  display: none;
}

#signup {
  width: 50%;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
}

#informacion {
  width: 30%;
  background-color: #8b8989;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
}