<!DOCTYPE html>
<html lang="es-es">
  {% load static %}
  
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FeelingSong</title>
    
    <!-- Bootstrap core CSS -->
    <link href="{% static "image2songs/vendor/bootstrap/css/bootstrap.min.css"%}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "image2songs/css/1-col-portfolio.css"%}" rel="stylesheet">
    <link href="{% static "image2songs/css/base.css"%}" rel="stylesheet">
    <link href="{% static "image2songs/css/webcam.css"%}" rel="stylesheet">
    <link href="{% static "image2songs/static/favicon.ico"%}" rel="stylesheet">

  </head>

  <body>
    <header class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a href="{% url 'index' %}"><p class="m-0 text-center text-white">FeelingSong</p></a> 
      </header>
      <!-- /.container -->
    </footer>
    <!-- Page Content -->
    
    {% if user.is_authenticated %}
      <div class="container">

        <!-- Contenido de la página -->
          <div class="row">
            <div class="col-md">
              {% block content %}
              {% endblock %}
            </div>
            <div class="col-md-4" id="credenciales">
              <img src="{% static "image2songs/images/user.jpeg"%}"  id="usuarioI">
              <h3 class="my-4" id="usuarioT">{{ user.get_username }}</h3>
              <div class="row">
                <div class="col-md" id="botonCamara">
                  <a href="{% url 'upload' %}"><input type="image" src="{% static "image2songs/images/camera.png"%}" id="camera"></input></a>
                </div>
                <div class="col-md" id="botonhistorial">
                  <a href="{% url 'index' %}"><input type="image" src="{% static "image2songs/images/historial.png"%}" id="historial"></input></a>
                </div>
              </div>
              <div id="lineadivisoria">
              </div>
              <div id="botonLogOut">
                <p><a href="{% url 'logout' %}" class="btn btn-lg btn-primary btn-block" id="logout">Cerrar Sesión</a></p>
              </div>
            </div>
          </div>
      </div>
    {% else %}

    <!--JavaScript a saco-->
    <script>
    window.onload = function() {
      location.replace("http://localhost:8000/image2songs/login")
    }
    </script>
    {% endif %}

    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-25 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; FeelingSong</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static "image2songs/vendor/jquery/jquery.min.js" %}"></script>
    <script src="{% static "image2songs/vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

  </body>

</html>
