
<!doctype html>
<html lang="es_es">
 {% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Signin</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "image2songs/vendor/bootstrap/css/bootstrap.min.css"%}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "image2songs/css/signin.css"%}" rel="stylesheet">
  </head>

  <body class="text-center">
  
    <form class="form-signin" method="post">
    <h1 class="display-5 mb-4 font-weight-normal bg-dark text-white rounded" id="logo">FeelingSong</h1>
      <!--<img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">-->
      
      <!--label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div-->
      {% csrf_token %}
      {{ form.as_p }}
      <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      <div class= "row">
          <div class="col-md">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
          </div>
          <div class="col-md">
            <p><a href="{% url 'register' %}" class="btn btn-lg btn-primary btn-block">Sign up</a></p>
          </div>
      </div>
      <p class="mt-2 mb-2 text-muted">&copy; 2018-2019</p>
    </form>
  </body>
</html>
