
<!doctype html>
<html lang="es-es">
 {% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Register</title>

    <link rel="stylesheet" href="/static/image2songs/vendor/bootstrap/css/bootstrap.min.css?v=<?php echo(rand()); ?>" />

    <!-- Custom styles for this template -->
    <link href="{% static "image2songs/css/signin.css"%}" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="{% static "image2songs/vendor/bootstrap/css/bootstrap.min.css"%}" rel="stylesheet">

  </head>

  <body class="text-center">
    <form class="form-signin" method="post">
      <h1 class="display-5 mb-4 font-weight-normal bg-dark text-white rounded" id="logo">FeelingSong</h1>
      <h2 class="h3 mb-3 font-weight-normal">Register</h2>
      <!--label for="inputEmail" class="sr-only"> Email</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
      <label for="inputUsername" class="sr-only"> Username</label>
      <input type="text" id="inputText" class="form-control" placeholder="Username" required>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <label for="repeatPassword" class="sr-only"> Repeat Password</label>
      <input type="password" id="repeatPassword" class="form-control" placeholder="Repeat Password" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button-->
      {% csrf_token %}
      {{ form.as_p }}
      <button class="btn btn-lg btn-primary btn-block" type="submit" id="register" onclick="propPssw()">Register</button>
      <script>
        function propPssw(){
          var x = document.getElementsByTagName("ul")[0];
          x.style.display= "block";
        }
      </script>
      <p class="mt-5 mb-3 text-muted">&copy; 2018-19</p>
    </form>
  </body>
</html>
