{% extends 'image2songs/base.html' %}
{% block content %}

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subir foto</title>

    <style tipy="text/css" media="screen">
        #spinner {
            position: fixed;
            top: 50%;
            left: 50%;
        }
    </style>
</head>
<body>
    <form action="#" method="get" >
        <h2>Sube tu imagen</h2>
        <br><br>
        <input type="text" name="imageurl" placeholder= "indica la ruta a tu imagen"></input>
        <button type="submit" name="url" value= "Enviar">Enviar</button>
        
        <div id="spinner" style="display: none;">
            <img id="img-spinner" src="../../static/image2songs/images/spinner.gif" alt="Loading"/>
        </div>

        <script>$('#spinner').show();</script>

        <br>
        <hr><br>
    </form>
{% csrf_token %}
    <form action="#" method="post" enctype="multipart/form-data">
        <input type="file" name="imagefile" style = "border: grey"></input>
        <button type="submit" href="{% url 'spotiPlayer' %}" name="file">Subir</button>
    </form>
    <hr><br>
    <a href="{% url 'webcam' %}" id="goToWebcam">Captura una imagen con la Webcam</a>
    
    <hr><br>
</body>

{% endblock %}