{% extends "image2songs/base.html" %} {%block content%} {% if p %}
<div class="col-md-7">
	<a href="{% url 'detail' p.id %}">
		  <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/700x100" alt="">
		</a>
</div>
<div class="col-md-5">
	<h3>{{ p.name }}</h3>
	<p>Anotaciones</p>
</div>

{% if feeling_list %}
<ul>
	{% for f in feeling_list %}
	<div class="row">
		<li> {{f.email }} : {{ f.happiness }} : {{ f.anger }} : {{ f.neutral }} : {{ f.sadness }} : {{ f.fear }} : {{ f.surprise }} : {{f.disgust}}
	</div>
	<hr> {% endfor %}
</ul>
{% else %} No hay ListScore para este usuario {% endif %} {% else %} Lista no encontrada {% endif %} {% endblock %}